<style lang='scss' scoped>
    @import 'number-submit.component';
</style>
<template src='./number-submit.component.html'></template>

<script>
    import {numberStore} from '@/store/number-store/number-store';

    const submitMethods = {
        addNumber(storeInput, data) {
            if (data) {
                storeInput.state.numbers.push(Number(data));
            }
        },
        buildNumber(numberInput) {
            return numberInput;
        }
    };

    export default {
        name: 'NumberSubmitComponent',
        data() {
            return {
                numberInput: null,
                storeInput: numberStore
            };
        },
        methods: submitMethods
    }
</script>