<template src='./number.view.html'></template>

<script>
    import NumberDisplayComponent
        from '@/components/number-component/number-display-component/number-display.component';
    import NumberSubmitComponent
        from '@/components/number-component/number-submit-component/number-submit.component';

    export default {
        name: 'NumberView',
        components: {
            NumberSubmitComponent,
            NumberDisplayComponent,
        }
    };
</script>