<style lang='scss' scoped>
    @import 'number-display.component';
</style>
<template src='./number-display.component.html'></template>

<script>
    import {numberStore} from '@/store/number-store/number-store';

    export default {
        name: 'NumberDisplayComponent',
        data() {
            return {
                storeState: numberStore.state
            };
        }
    };
</script>
