<div>
    <img alt="Vue logo" src="../../assets/logo.png"/>
    <TestingComponent :field-string1="field1"
                      :field-string2="field2"
                      :field-boolean="field3"
                      :field-number="field4">
    </TestingComponent>
</div>