<template src='./testing.view.html'></template>

<script>
    import TestingComponent from '@/components/testing-component/testing.component';

    export default {
        name: 'TestingView',
        data() {
            return {
                field1: 'Hello word by view',
                field2: 'This message is passed by view file',
                field3: 1 === 1,
                field4: 10000,
            };
        },
        components: {
            TestingComponent
        }
    };
</script>