<style lang='scss' scoped>
    @import 'testing.component.scss';
</style>
<template src='./testing.component.html'></template>

<script>
    export default {
        name: 'TestingComponent',
        data() {
            return {
                otherMessage: 'hello other message'
            }
        },
        props: {
            fieldString1: {
                type: String,
            },
            fieldString2: {
                type: String,
            },
            fieldBoolean: {
                type: Boolean,
            },
            fieldNumber: {
                type: Number,
                default: 0
            },
        }
    };
</script>
